/* Game-of-life panel */
#gol
{   overflow: auto;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 8px;
}

/* Game-of-life cell */
#gol td
{   border: 1px solid black;
    width: 4px;
    height: 4px;
}
